:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.header-action-container {
  display: flex;
  flex-direction: row-reverse;
  height: inherit;
  align-items: center;
  padding: 0 12px;
}

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-action-header {
  padding: 10px 12px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > h1 {
    margin: 0;
    font-size: 24px;
  }
  > .action-wrapper {
    display: flex;
    flex-direction: row;
  }
}

.app-side-menu {
  /* padding: 10px; */
  ul {
    padding: 0;
    margin: 0;
    > li {
      list-style: none;
      a {
        color: #001529;
        transition: all 0.3ms cubic-bezier(0.075, 0.82, 0.165, 1);
        padding: 10px 8px;
        /* border-radius: 4px; */
        display: flex;
        > .label {
          margin-left: 10px;
        }
        margin-bottom: 4px;
      }
      /* :hover {
        color: #001529;
      } */
      .active {
        background: #001529;
        color: #fff;
        :hover {
          color: #fff;
        }
      }
    }
  }
}
