:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.header-action-container {
  display: flex;
  flex-direction: row-reverse;
  height: inherit;
  align-items: center;
  padding: 0 12px;
}

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-action-header {
  padding: 10px 12px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > h1 {
    margin: 0;
    font-size: 24px;
  }
  > .action-wrapper {
    display: flex;
    flex-direction: row;
  }
}
